<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.co.hi_story.dto.MemberDTO" alias="mdto"></typeAlias>
		<typeAlias type="kr.co.hi_story.dto.QuizDTO" alias="qdto"></typeAlias>
		<typeAlias type="kr.co.hi_story.dto.ParticipationDTO" alias="pdto"></typeAlias>
		<typeAlias type="kr.co.hi_story.dto.UtilDTO" alias="udto"></typeAlias>
	</typeAliases>

	<mappers>
		<mapper resource="mapper/memberMapper.xml" />
		<mapper resource="mapper/quizMapper.xml" />
		<mapper resource="mapper/utilMapper.xml" />
	</mappers>
</configuration>